
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Network Automation</title>
        <link href="{{url_for('static', filename='css/all.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" crossorigin="anonymous" />
        <script src="{{ url_for('static', filename='js/all.min.js')}}" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Network automation</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
   
            <!-- Navbar-->
  
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{ url_for('projects.dashboard')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Devices</div>
                            
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFiles" aria-expanded="false" aria-controls="collapseFiles">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                ZTP
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFiles" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="{{ url_for('files.upload')}}">Upload config-file</a>
                                    <a class="nav-link" href="{{ url_for('files.listtemplates')}}">Jinja</a>
                                    <a class="nav-link" href="{{ url_for('files.listconfs')}}">Configuration file</a>
                                  
                                </nav>
                            </div>
                            

                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Devices
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('devices.listdevices')}}">List devices</a>
                                    <a class="nav-link" href="{{ url_for('devices.add')}}">add device</a>
                                    
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Command
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                   
                                    <a class="nav-link" href="{{ url_for('command.sendcmd')}}">Execute command</a>
                                    <a class="nav-link" href="{{ url_for('command.showlogs')}}">Logs</a>
                                    
                                  
                                </nav>
                            </div>
                            
                        
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlays" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
                                Ansible
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePlays" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                   
                                    <a class="nav-link" href="{{ url_for('ansible.listplays')}}">List PlayBook</a>
                                    <a class="nav-link" href="{{ url_for('ansible.addplay')}}">Add PlayBook</a>
                                    <a class="nav-link" href="{{ url_for('ansible.hosts_vars')}}">host-vars</a>
                                  
                                </nav>
                            </div>

                        </div>
                    </div>

                </nav>
            </div>
            
{%block content%}



{% endblock %}

        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
        <script src="{{ url_for('static', filename='js/Chart.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js')}}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js')}}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='assets/demo/datatables-demo.js')}}"></script>
    </body>
</html>
