{%extends "base.html"%}

{%block content%}
<div id="layoutSidenav_content">

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Existing jinja file</h3></div>
                        <div class="my-2"></div>
                        {% for jin in files %}
                        <div class="btn-success btn-icon-split">
                          
                                <span class="text col-md-6">{{jin}}</span>
                                <a href="{{ url_for('files.jinjaread' ,file=jin) }}"  >
                                    <span class="icon text-white-50">
                                    edit
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                &nbsp&nbsp
                                <a href="{{ url_for('files.deletejinja' ,file=jin) }}"  >
                                    <span class="icon text-white-50">
                                        remove
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                          
                        </div>
                        <div class="my-2"></div>
                        {% endfor %} 

                        
                    </div>
            </div>
        </div>
    </div>
    </main>





</div>

{%endblock%}
