
{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Editing {{file}}</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4 ">
            <div class="card-body col-lg-7 justify-content-center">

                <form method="POST">
                    <div class="form-row">
                        {{ form.hidden_tag() }}
      
 
                        <div class="col-12">
                            
                         
                            
                            <label for="command">File content</label>
                            {{form.jinjafile(class_="form-control",rows=16)}}
                            <div class="form-group mt-4 mb-0">{{form.submit(class_="btn btn-primary btn-block")}}</div>
                        </div> 
                    </div>                     
                </form>
                <div class="card-footer text-center">
                    <div class="small"><a href="{{ url_for('files.listconfs') }}">Cancel</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
