{%extends "base.html"%}

{%block content%}
<div id="layoutSidenav_content">

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Existing Plays</h3></div>
                        <div class="my-2"></div>
                        {% for play in playbook %}
                        <div class="btn-success btn-icon-split">
                          
                                <span class="text col-md-6">{{play}}</span>
                                <a href="{{ url_for('ansible.run' ,file=play) }}"  >
                                    <span class="icon text-white-50">
                                    run
                                        <i class="fas fa-rocket"></i>
                                    </span>
                                </a>
                                &nbsp&nbsp
                                <a href="{{ url_for('ansible.playedit' ,file=play) }}"  >
                                    <span class="icon text-white-50">
                                    edit
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                &nbsp&nbsp
                                <a href="{{ url_for('ansible.deleteplay' ,file=play) }}"  >
                                    <span class="icon text-white-50">
                                        delete
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                          
                        </div>
                        <div class="my-2"></div>
                        {% endfor %} 


                    <div class="btn-primary btn-icon-split">
                          
                            <span class="text col-md-6">hosts file</span>
                            <a href="{{ url_for('ansible.playedit' ,file='hosts') }}"  >
                                <span class="icon text-white-50">
                                edit
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            &nbsp&nbsp
                         
                      
                    </div>
                    <div class="my-2"></div>

                    <div class="btn-primary btn-icon-split">
                          
                        <span class="text col-md-6">Add New PlayBook</span>
                        <a href="{{ url_for('ansible.addplay') }}"  >
                            <span class="icon text-white-50">
                            add
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                        &nbsp&nbsp
                     
                  
                    </div>
                    <div class="my-2"></div>

                        
                    </div>
            </div>
        </div>
    </div>
    </main>





</div>

{%endblock%}
