
{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Create New PlayBook</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4 ">
            <div class="card-body col-lg-7 justify-content-center">

                <form method="POST">
                    <div class="form-row">
                        {{ form.hidden_tag() }}
      
 
                        <div class="col-12">
                            <div class="form-group">
                                <label class="small mb-1" for="inputFirstName">{{form.playname.label}}</label>
                                {{form.playname(class_="form-control py-4",placeholder="Playbook name")}}
                            </div>
                         
                           
                            <label for="command">play content</label>
                            {{form.ansibleplay(class_="form-control",rows=16)}}
                            <div class="form-group mt-4 mb-0">{{form.submit(class_="btn btn-primary btn-block")}}</div>
                        </div> 
                    </div>                     
                </form>
                <div class="card-footer text-center">
                    <div class="small"><a href="{{ url_for('ansible.listplays') }}">Cancel</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </main>
</div>
{% endblock %}
