{%extends "base.html"%}

{%block content%}
            <div id="layoutSidenav_content">
                
               
                <main>
                  <br>
                    <div class="container-fluid">
                      <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 mx-4 text-gray-800">SubProject : {{name}}</h1>
                        
                        <a href="{{url_for('projects.deletefolder')}}" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
                                class="fas fa-times fa-sm text-white-50"></i> Delete this SubProject</a>
                    </div>
                    

                        <ol class="breadcrumb mb-4">
                          <li class="breadcrumb-item active">{{name}} description :{{description}}</li>
                      </ol>
                      <div class="row">
                          <div class="col-xl-4 col-md-6">
                              <div class="card bg-primary text-white mb-4">
                                  <div class="card-body">there are :{{total}} devices</div>
                                  
                              </div>
                          </div>
                          <div class="col-xl-4 col-md-6">
                              <div class="card bg-warning text-white mb-4">
                                  <div class="card-body">{{noping}} ping failure</div>
                                
                              </div>
                          </div>
                          <div class="col-xl-4 col-md-6">
                              <div class="card bg-danger text-white mb-4">
                                  <div class="card-body">{{nossh}} failed ssh connection</div>
                                 
                              </div>
                          </div>

                      </div>
                     
                      <div class="card shadow mb-8">
                        <div class="card-header py-3">
                          <h6 class="m-0 font-weight-bold text-primary">Total Devices</h6>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>hostname</th>
                                  <th>IP Address</th>
                                  <th>device type</th>
                                  <th>pingable</th>
                                  <th>ssh-able</th>
                                  <th>message</th>
                                  <th>check</th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                    <th>hostname</th>
                                    <th>IP Address</th>
                                    <th>device type</th>
                                    <th>pingable</th>
                                    <th>ssh-able</th>
                                    <th>message</th>
                                    <th>check</th>
                                </tr>
                              </tfoot>
                              <tbody>
                              {% for  dev in devices %}
                                <tr >
                                  <td>{{dev.hostname}}</td>
                                  <td>{{dev.ip}}</td>
                                  <td>{{dev.devicetype}}</td>
                                  <td {% if dev.pingable=='No' %} bgcolor="orange" {% endif %}>{{dev.pingable}}</td>
                                  <td {% if dev.sshable=='No' %} bgcolor="red" {% endif %}>{{dev.sshable}}</td>
                                  <td>{{dev.message}}</td>
                                  <td><a href="{{ url_for('projects.check',id=dev.id) }}">Check</a></td>
                              </tr>
                              {% endfor %} 
               
                              </tbody>
                            </table>
                          </div>
                    </div>
                    </div>
                        </div>
                    </div>
                </main>
 
            </div>
            
 {%endblock%}