{%extends "base.html"%}

{%block content%}
<div id="layoutSidenav_content">
    <main>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Device</h3></div>
                                    <div class="card-body">
                                        <form method="POST">
                                            {{ form.hidden_tag() }}
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">{{form.ip.label}}</label>
                                                        {{form.ip(class_="form-control py-4",value=device.ip)}}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">{{form.hostname.label}}</label>
                                                        {{form.hostname(class_="form-control py-4",value=device.hostname)}}                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputFirstName">{{form.username.label}}</label>
                                                        {{form.username(class_="form-control py-4",value=device.username)}}                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputLastName">{{form.password.label}}</label>
                                                        {{form.password(class_="form-control py-4",value=device.password)}}                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="small mb-1" for="inputPassword">{{form.devicetype.label}}</label>
                                                        {{form.devicetype(class_="form-control")}}                                                    </div>
                                                    </div>
                                                </div>
                            
                                            </div>
                                            <div class="form-group mt-4 mb-0">{{form.submit(class_="btn btn-primary btn-block",value="Save Changes")}}</div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{{ url_for('devices.listdevices') }}">Cancel</a></div>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        
        </div>
    </main>
 
</div>

{%endblock%}
