
{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 mx-4 text-gray-800">Command Line</h1>
        
    </div>
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-body">

                <form method="POST">
                    <div class="form-row">
                        {{ form.hidden_tag() }}
      
                        {% for devi in form.devices %}
                        <div class="col-auto">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">
                                      {{devi(class_="check")}}
                                  </div>
                                </div>
            
                                <input disabled type="text" class="form-control" value="{{ devi.label.text}}">
                            </div>
                        </div>
                        {% endfor %}  
                        <div class="col-12">
                            <div class="rbconf">
                                {{form.execmode(class_="rbconf")}}       
                            </div>
                         
                            
                            <label for="command">Input Command Line Below</label>
                            {{form.command(class_="form-control",rows=6)}}
                            {{form.submit(class_="mt-3 btn btn-primary")}}
                        </div> 
                    </div>                     
                </form>
            </div>
        </div>
    </div>
</div>
</main>
</div>
{% endblock %}
