
{% extends 'base.html' %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <br>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 mx-4 text-gray-800">Projects</h1>
        
    </div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
 
                
                <section id="Projects" class="p-5 bg-dark">
                    <div class="container">
                      <h2 class="text-center text-white">Project</h2>
                      <p class="lead text-center text-white mb-5">
                        Create New or Continue on Existing Project
                      </p>
  
                    <div class="row g-4">

                        <div class="col-md-6 col-lg-3 mb-3" >
                            <div class="card bg-success text-white" style="height: 14rem;">
                              <div class="card-body text-center">
                              
                                <h5 class="card-title mb-3">New Project</h5>
                                <p class="card-text">
                                    Create New Automation Project
                                </p>
                               
                    
                              </div>
                              <div class="card-footer text-center">
                                <a class="text-white stretched-link" href="{{ url_for('projects.createproject') }}">Create</a>
                              </div>
                            </div>
                          </div>

                       
                        {% for  project in projects %}
                        <div class="col-md-6 col-lg-3 mb-3" >
                            <div class="card bg-ligh" style="height: 14rem;">
                              <div class="card-body text-center">
                              
                                <h5 class="card-title mb-3">{{project.name}}</h5>
                                <p class="card-text">
                                    {{project.description|truncate(80, True)}}
                                </p>
                               
                    
                              </div>
                              <div class="card-footer text-center">
                                <a class="stretched-link" href="{{ url_for('projects.viewproject',id=project.id) }}">Created at :{{project.date.strftime('%Y-%m-%d')}}</a>
                              </div>
                            </div>
                          </div>

                        {% endfor %} 
                              </div>

                            </div>
                </section>
                </div>
            </div>
                    </div>                     
                
            </div>
        </div>
    </div>
</div>
    </main>
</div>
{% endblock %}
